| Привет это вьюха article/edit

/ = simple_form_for @article, as: :article, method: :put, url: article_path do |f|
= simple_form_for @article do |f|
  | Название статьи
  = f.input :title
  = f.input :description, label: "Краткое описание 'шедевра'"
  //= f.input :user_id, label: "id тела написавшего это..."
  = f.input :category_id, collection: @category, selected: @article.category_id
  / = binding.pry
  /-unless :images.nil?
  = f.simple_fields_for :images do |field|
    = field.file_field :image, as: :file
  / - @article.images.each do |img|
  //


  //= f.input :category, collection: "#{@category}"
  //= f.input :category, label: "сорт говна она же категория(в душе не ебу как отобразить по нормальному)"
  //= f.input :status, label: "Статус"
  = f.button :submit, "Сохранить"
  / , class: 'btn btn-outline-primary'
end

= button_to 'Назад', article_path(@article),method: :get
