= form_with model: @article do |f|
  | Название
  = f.text_field :title
  p
  | Описание
  = f.text_area :description
  p
  | Категория
  = f.collection_select(:category_id ,Category.all, :id, :title)
  p
  = f.simple_fields_for :images do |field|
    = field.file_field :image, as: :file
  = f.hidden_field :user_id, value: current_user.id
  //= binding.pry
  = f.submit "Create"
  //- test_array = Category.all.map { |cat| [cat.title, cat.id] }
//  = f.hidden_field :user_id
//= binding.pry
