| Привет это вьюха article/show
p
|ИД Титул Пользователь Описание Кaтегория
t
p
.category
  .category__info
    / p = link_to "#{@article.category.title}", show_category_path(@article.category_id)
    p = @article.title
    p Автор: #{@article.user.full_name unless @article.user.nil?}
    p = @article.description
    p Тэги:
    - @article.tags.each do |tag|
      = tag.text
    p Кол-во просмотров: #{@article.visits}
    - if @article.images.present?
      p Картинки
      - @article.images.each do |img|
        = image_tag(img.image.url(:medium), :alt => img.name)
    .category__controls
      = button_to 'Редактировать', edit_article_path(@article), method: :get if can? :update, @article
      = button_to 'Удалить', article_path(@article),
                             method: :delete,
                             data: { confirm: 'Вы уверены?' }
      = button_to 'Назад', articles_path, method: :get
      / - @article.points.each do |p|
      /   - @array = [] << p.rating
      /   = @array.sum
      p Средняя оценка статьи: #{@raiting}
      - if current_user.present? and current_user.article_points?(@article.id)
        = simple_form_for @point, url: edit_rating_article_path(@article.id) do |r|
          = r.hidden_field :user_id, value: current_user.id
          = r.hidden_field :article_id, value: @article.id
          = r.input :rating
          = r.button :submit,'Оценить'
      = link_to 'Создать', article_path()
      / = button_to 'Показать_больше', e_h_article_path, method: :get ,action: :e_h
  .category__articles
    p Статьи этой категории
    = render partial: "articles/blocks/index-article", collection: @article_cat, as: :item
