= simple_form_for @user do |f|
  = f.input :fname
  = f.input :lname
  = f.input :email
  = f.input :password
  = f.button :submit, "Сохранить", method: :put
= button_to 'Удалить', user_path(@user), method: :delete
= link_to "accept", show_type_articles_path(type: "accepted", page: 1)
p
= link_to "inprocess", show_type_articles_path(type: "inprocess", page: 1)
p
= link_to "disabled", show_type_articles_path(type: "disabled", page: 1)
/ = render partial: "articles/blocks/index-article", collection: @articles.order(id: :desc), as: :item
= render partial: "articles/blocks/index-article", collection: @last_five, as: :item

end
