header.header
  / = render_navigation &navigation(:main)

  - if current_user.nil?
    = link_to " LogIn ", new_user_session_path, class: "logIn"
    = link_to " Registration", new_user_registration_path, class: 'registration'
  - else
    = link_to "Create", new_article_path, class: 'registration'
    = link_to ' Logout ', destroy_user_session_path,  :method=>'delete', class: 'logout'
    = link_to 'Profile', edit_user_path(current_user.id), class: 'logIn'
    / = link_to "Личный кабинет", new_article_path, class: 'registration'
  //  = link_to " Редактировать", edit_user_registration_path, class: 'registration'
