<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: {class: "form-control", autocomplete: "email" } %>
  </div>
  <div class="form-group">
    <%= f.input :password,
                required: false,
                input_html: {class: "form-control", autocomplete: "current-password" } %>
  </div>
  <div class="form-check">
    <%= f.input :remember_me,input_html: {class: "form-check-input"}, as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
